# {{{ method }}} {{{ path }}}

{{#parameters?}}
+ Parameters
    {{#parameters}}
    + {{name}}: `{{value}}` ({{type}},{{attribution}}){{#description}} - {{description}}{{/description}}
    {{/parameters}}

{{/parameters?}}
{{#request}}
+ Request{{#contentType}} ({{{contentType}}}){{/contentType}}
{{#headers?}}
    + Headers

            {{#headers}}
            {{{key}}}: {{{value}}}
            {{/headers}}

{{/headers?}}
{{#body?}}
    + Body

{{/body?}}
{{{body}}}

{{/request}}
{{#response}}
+ Response {{{statusCode}}}{{#contentType}} ({{{contentType}}}){{/contentType}}

{{#headers?}}
    + Headers

            {{#headers}}
            {{{key}}}: {{{value}}}
            {{/headers}}

{{/headers?}}
{{#body?}}
    + Body

{{/body?}}
{{{body}}}
{{/response}}
